<!-- ======= Topbar ======= -->
<header class="header fixed-top d-flex align-items-center" id="header">

  <div class="d-flex align-items-center justify-content-between">
    <a [routerLink]="['/member/dashboard']" class="logo d-flex align-items-center">
      <img alt="logo" loading="lazy" src="{{logo_care_cameroon}}">
    </a>
    <em (click)="toggle()" class="bi bi-list toggle-sidebar-btn"></em>
  </div><!-- End Logo -->



  <nav class="header-nav ms-auto">
    <ul class="d-flex align-items-center">

      <li class="nav-item pe-3 me-1">
       <a [routerLink]="'/member/preview'"> Mes agences</a>
      </li>
      <li class="nav-item dropdown pe-3 me-1">

        <a class="nav-link nav-profile d-flex align-items-center pe-0" data-bs-toggle="dropdown"
           href="javascript:void(0)">
          <img *ngIf="flag[0] === 'assets/img/flags/french.svg'" alt="flag" class="rounded-circle-flag"
               src="{{contry_flag_fr}}">
          <span *ngIf="countryName[0] === 'French'"
                class="d-none d-md-block dropdown-toggle ps-2">{{'french' | translate}}</span>
          <img *ngIf="flag[0] === 'assets/img/flags/us.svg'" alt="flag" class="rounded-circle-flag"
               src="{{contry_flag_us}}">
          <span *ngIf="countryName[0] === 'English'"
                class="d-none d-md-block dropdown-toggle ps-2">{{'english' | translate}}</span>
        </a><!-- End Language Iamge Icon -->

        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile pt-3">

          <li>
            <a (click)="setLanguage(item.text, item.flag, item.lang)" *ngFor="let item of listLang"
               [ngClass]="{'active': langStoreValue === item.lang}"
               class="dropdown-item d-flex align-items-center p-1"
               href="javascript:void(0)">
              <img alt="..." class="rounded-circle-flag me-3" src="{{item.flag}}"
                   style="width: 50px; height: 50px">
              <span class="fw-bold">{{item.text}}</span>
            </a>
          </li>

        </ul><!-- End Language Dropdown Items -->
      </li><!-- End Languag -->

      <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile pt-3">

        <li>
          <a (click)="setLanguage(item.text, item.flag, item.lang)" *ngFor="let item of listLang"
             [ngClass]="{'active': langStoreValue === item.lang}"
             class="dropdown-item d-flex align-items-center p-1"
             href="javascript:void(0)">
            <img alt="..." class="rounded-circle-flag me-3" src="{{item.flag}}"
                 style="width: 50px; height: 50px">
            <span class="fw-bold">{{item.text}}</span>
          </a>
        </li>

      </ul><!-- End Language Dropdown Items -->


      <li class="nav-item dropdown pe-3 me-5">

        <a class="nav-link nav-profile d-flex align-items-center pe-0" data-bs-toggle="dropdown"
           href="javascript:void(0)">
          <img alt="Profile" class="rounded-circle" loading="lazy" src="{{undraw_profile}}">
          <span class="d-none d-md-block dropdown-toggle ps-2">{{userDto?.login}}</span>
        </a><!-- End Profile Iamge Icon -->

        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
          <li class="dropdown-header">
            <h6>{{userDto?.login}}</h6>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>

          <li>
            <a class="dropdown-item d-flex align-items-center" [routerLink] = "['./user/profil']">
              <i class="bi bi-person"></i>
              <span>{{'sidebar.profil' | translate}}</span>
            </a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>

          <li>
            <a class="dropdown-item d-flex align-items-center" [routerLink] = "['./user/change-password']">
              <i class="bi bi-gear"></i>
              <span>{{'sidebar.change_password' | translate}}</span>
            </a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li>
            <a class="dropdown-item d-flex align-items-center" [routerLink] = "['/member/admin']">
              <i class="bi bi-gear"></i>
              <span>Admin</span>
            </a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>

          <li>
            <app-actif-actions (newEvent)="logout()"
                               [islogout]="true"
                               [message]="'logout.select_message'" [readonly]="false"></app-actif-actions>
          </li>

          <!--------->


        </ul><!-- End Profile Dropdown Items -->
      </li><!-- End Profile Nav -->

    </ul>
  </nav><!-- End Icons Navigation -->

</header><!-- End of Topbar -->
