<div class="mb-5">
  <h5 class="card-title text-center pb-0 fs-4">Connectez-vous à votre compte</h5>
</div>
<form class="row g-3 needs-validation" novalidate [formGroup]="loginForm">

  <div class="alert alert-danger" *ngIf="errorMessage">
    {{errorMessage}}
  </div>

  <div class="col-12">
    <label for="yourLogin" class="control-label field-font pb-1">Nom d'utilisateur <span class="text-danger fw-bold pt-0 fs-5">*</span></label>
    <input type="text" name="login" class="form-control" placeholder="Entrer le nom d'utilisateur..." id="yourLogin" required formControlName="login">
    <app-form-validation [form]="loginForm"
                         [field]="'login'"
                         [minlength]="true"
                         [maxlength]="true"
                         [message]="'Veuillez renseigner le nom d\'utilisateur.'"
                         [messageMinlength]="'Le nom d\'utilisateur doit comporter au moins 4 caractères.'"
                         [messageMaxlength]="'Le nom d\'utilisateur ne doit pas comporter plus de 50 caractères.'" ></app-form-validation>
  </div>

  <div class="col-12">
    <label for="yourPassword" class="control-label field-font pb-1">Mot de passe <span class="text-danger fw-bold pt-0 fs-5">*</span></label>
    <input type="password" name="password" class="form-control" placeholder="Entrer le mot de passe..." id="yourPassword" required formControlName="password">
    <app-form-validation [form]="loginForm"
                         [field]="'password'"
                         [minlength]="true"
                         [maxlength]="true"
                         [message]="'Veuillez renseigner le mot de passe.'"
                         [messageMinlength]="'Le mot de passe doit comporter au moins 4 caractères.'"
                         [messageMaxlength]="'Le mot de passe ne doit pas comporter plus de 50 caractères.'" ></app-form-validation>
  </div>


  <div class="col-12">
    <div class="form-check">
      <input class="form-check-input" [checked]="true" type="checkbox" name="remember" value="true" id="rememberMe">
      <label class="form-check-label field-font pb-1" for="rememberMe">Se souvenir de moi</label>
    </div>
  </div>
  <div class="col-12 mb-3">
    <button (click)="loginWithUsernameAndPassword()" [disabled]="isSaving || loginForm.invalid" class="btn button-color w-100" type="submit">S'identifier</button>
  </div>
  <div class="col-12 mb-3">
    <a [routerLink]="'/forgot_password'">forgot password? </a>
  </div>
  <div class="col-12 mb-3">
    <a [routerLink]="'/register'">don't have an account? </a>
  </div>
</form>
