

<button (click)="confirmCloseBoxExp()" [disabled]="readonly" *ngIf = "isValidated" class="btn btn-sm btn-warning mt-4 me-1 text-white">
  <em class="bi bi-lock"></em>
  <span class="mx-2">{{'button.cloturer' | translate}}</span>
</button>

<a (click)="confirmCloseBoxExp()"  class="dropdown-item pointer" *ngIf = "islogout">
  <i class="bi bi-box-arrow-right"></i>
  <span>{{'button.logout' | translate}}</span>
</a>
<button (click)="confirmBox()" [disabled]="readonly" *ngIf = "isActif && activation" class = "btn btn-sm actif-button">{{'actif' | translate}}</button>
<button (click)="confirmBox()" [disabled]="readonly" *ngIf = "!isActif && activation" class = "btn btn-sm unactif-button">{{'nonActif' | translate}}</button>

