<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
  <div class="copyright">
    &copy; Copyright <strong><span>SKYSOFT TECHNOLOGY</span></strong>. All Rights Reserved
  </div>
  <div class="credits">
    Powered by <a href="https://skysoft.cm/">SKYSOFT TECHNOLOGY</a>
  </div>
</footer><!-- End Footer -->
