.bg-public-image{
  background:url(../../assets/img/logo.png);
  background-position:center;
  background-repeat: no-repeat;
}

a {
  color: #4154f1;
  text-decoration: none;
}

a:hover {
  color: #717ff5;
  text-decoration: none;
}
